ul.nav {
    margin: 0;
    padding: 4px;
}

ul.nav li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px;
}

header {
    font-family: "Montserrat", "Georgia", "Arial", sans-serif;
    font-size: 14px;
    line-height: 17px;
    size: 100%;
    height: 70px;
    color: rgba(31, 32, 65, 0.5);
    background-color: #FFFFFF;
}

h1 {
    font-family: "Montserrat", "Georgia", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
}

h2 {
    font-family: "Montserrat", "Georgia", "Arial", sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
}

h3 {
    font-family: "Montserrat", "Georgia", "Arial", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
}

body {
    font-family: "Montserrat", "Georgia", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    background-image:  url("../files/image 3.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

footer {
    position: absolute;
    background-color: #FFFFFF;
    height: 442px;
}

main {
    /*max-width: 1440px;*/
}

@font-face {
	font-family: "Montserrat-Black";
	src: url("../fonts/Montserrat-Black/Montserrat-Black.eot");
	src: url("../fonts/Montserrat-Black/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black/Montserrat-Black.ttf") format('truetype'), url("../fonts/Montserrat-Black/Montserrat-Black.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Regular.eot");
	src: url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype'), url("../fonts/Montserrat/Montserrat-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}