header {
    font-family: "Montserrat", "Georgia", "Arial", sans-serif;
    font-size: 14px;
    line-height: 17px;
    padding-left: 10em;
    padding-right: 10em;
    vertical-align: middle;
    height: 70px;
    color: rgba(31, 32, 65, 0.5);
    background-color: #FFFFFF;
}

h1 {
    font-family: "Montserrat", "Georgia", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
}

h2 {
    font-family: "Montserrat", "Georgia", "Arial", sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
}

h3 {
    font-family: "Montserrat", "Georgia", "Arial", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
}

body {
    font-family: "Montserrat", "Georgia", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    background-image: url("../files/image 3.png");
}

footer {
    background-color: #FFFFFF;
}

@font-face {
	font-family: "Montserrat-Black";
	src: url("../fonts/Montserrat-Black/Montserrat-Black.eot");
	src: url("../fonts/Montserrat-Black/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black/Montserrat-Black.ttf") format('truetype'), url("../fonts/Montserrat-Black/Montserrat-Black.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Regular.eot");
	src: url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype'), url("../fonts/Montserrat/Montserrat-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}